<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365177986514-tn743a4512g1jok08611hcdt3dr7v27a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365177986514-tn743a4512g1jok08611hcdt3dr7v27a</string>
	<key>API_KEY</key>
	<string>AIzaSyCGCHMNSXKcE9Qzy58J0NDcOXrubiGM16I</string>
	<key>GCM_SENDER_ID</key>
	<string>365177986514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.a1.appNFT</string>
	<key>PROJECT_ID</key>
	<string>nft-app-viewcode</string>
	<key>STORAGE_BUCKET</key>
	<string>nft-app-viewcode.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365177986514:ios:575a5f04df68aa9b05bc0b</string>
</dict>
</plist>